@media screen and (max-width: 1199px) {
  .page-wrapper {
    &.liste {
      .conteneur-page {
        .conteneur-liste-filtres {
          .conteneur-liste {
            .row-liste {
              .conteneur-element {
                @include make-col(6);
              }
            }
          }
        }
      }
    }
  }
}