@media screen and (max-width: 575px) {
  .page-wrapper {
    &.single-publication {
      .infos-publication {
        .conteneur-infos {
          .bloc-infos {
            width: 100%;
          }
          .ajout-panier {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}