@media screen and (max-width: 767px) {
  .page-wrapper {
    &.home {
      section.section-carrousel {
        .conteneur-carrousel {
          .slide-carrousel {
            height: 300px;
          }
        }
      }
    }

    &.liste {
      .conteneur-page {
        .conteneur-liste-filtres {

          .conteneur-liste {

            .row-liste {
              .conteneur-element {
                @include make-col(12);
              }
            }
          }
        }
      }
    }

    &.actualites-habitat {
      .dernier-numero {
        @include flex(center, center, column);
        .conteneur-visuel {
          width: 100%;
          max-width: 100%;
          margin-bottom: 20px;
        }
        .conteneur-detail {
          padding-bottom: 15px;
          .numero {
            text-align: center;
          }
        }
      }
    }

    &.single-publication {
      .detail-publication {
        .conteneur-image-description {
          .conteneur-visuel-texte {
            @include flex(null, null, column);
            .conteneur-visuel {
              @include flex(center, center);
              width: 100%;
              margin-bottom: 30px;
            }
          }
          .liste-publications {
            .row-liste {
              .conteneur-element {
                @include make-col(12);
              }
            }
          }
        }
      }
      .infos-publication {
        .conteneur-infos {
          .bloc-infos {
            width: 50%;
          }
        }
      }
    }
  }
  footer {
    .conteneur-footer {
      .menu-footer {
        ul {
          @include flex(center, center, column);

          li {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}