@media screen and (max-width: 991px) {
  .tooltip {
    display: none;
  }
  header {
    .conteneur-header {
      .conteneur-logo {
        padding-right: 0;
      }
      .hamburger.is-active {
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
          background-color: #fff;
        }
      }
      .wrapper-nav-recherche {
        .conteneur-actions {
          .navbar-icon {
            &.panier, &.compte {
              display: none;
            }
          }
        }
      }
    }
  }
  #block-searchsolrblock {
    form.searchForm_header {
      .btn.btn-primary {
        position: relative;
        right: 0;
        padding: 20px 15px !important;
        line-height: 18px;
      }
      .btn-close-hub {
        position: relative;
        right: 0;
        padding: 20px 15px !important;
        line-height: 18px;
      }
      input#search {
        width: 100%;
      }
    }
  }
  .wysiwyg {
    font-size: 16px;
    .bloc-couleur {
      padding: 25px 15px;
      .titre-bloc {
        font-size: 26px;
        margin-bottom: 20px;
      }
      .texte-bloc {
        font-size: 16px;
        margin-bottom: 15px;
      }
      .boutons-bloc {
        @include flex(center, center, column);
        .btn {
          margin-bottom: 15px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    table {
      tr {
        td {
          font-size: 15px;
          min-width: 170px;
          padding: 10px 15px;
        }
      }
    }
    .accordeon {
      .element-accordeon {
        .accordeon-body {
          padding: 0 20px 10px 20px;
        }
      }
    }
    .bloc-mise-avant, .bloc-contact {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 15px 0;
      .conteneur-detail {
        .titre-detail, .texte {
          margin-bottom: 15px;
        }
      }
    }
  }
  .page-wrapper {
    &.liste {
      .conteneur-page {
        .conteneur-liste-filtres {
          .conteneur-filtres {
            @include make-col(12);
            border-bottom: 2px solid #c0bebe;
            margin-bottom: 40px;
          }
          .conteneur-liste {
            @include make-col(12);
          }
        }
      }
    }

    &.panier {
      .panier-desktop {
        display: none;
      }
      .panier-mobile {
        @include flex(flex-start, center, column);
        .element-panier {
          .quantite {
            flex-wrap: wrap;
          }
        }
      }
      .bloc-total {
        @include flex(flex-start);
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        .ligne-total {
          width: 100%;
          @include flex(center,flex-start);
          margin: 5px 0;
          .libelle, .montant {
            width: auto;
            margin-right: 10px;
            font-size: 16px;
          }
          .montant {
            text-align: left;
          }
        }
      }
      .cta-panier {
        @include flex(flex-start, center, column);
        .btn {
          margin-bottom: 15px;
        }
      }
    }

    &.actualites-habitat {
      .dernier-numero {
        width: 100%;
        .conteneur-visuel {
          width: auto;
          max-width: 40%;
          flex-shrink: 1;
        }
        .conteneur-detail {
          @include flex(center, center, column);
          .numero {
            @include titre-h3();
            color: $primary;
            font-size: 25px !important;
            margin-bottom: 10px;
          }
          .btn {
            font-size: 14px;

          }
        }
      }
    }

    &.single-publication {
      .detail-publication {
        order: 2;
      }
      .infos-publication {
        padding-right: 15px;
        order: 1;
        margin-bottom: 30px;
        .conteneur-infos {
          @include flex(flex-start, center);
          flex-wrap: wrap;
          .bloc-infos {
            width: 25%;
          }
          .ajout-panier {
            width: auto;
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }
    }
  }
}