/*
-- README --
Ce fichier style le menu en version mobile.
Ici, la transition se fait à partir de 991px de largeur. Vous êtes libre de changer cette valeur, mais respecter les breakpoints de Bootstrap.
Les couleurs de background et de typo sont à changer dans le fichier variables.
Les niveaux 1 ne sont pas cliquables dans cette version. En cas de besoin, vous pouvez reprendre et adapter la structure des niveaux 2 pour les niveaux 1.
Burger proposé sur 3 niveaux de profondeur. En cas de niveaux 4, se contenter de pages carrefour.
*/

@media screen and (max-width: 991px) {
  .megamenu {
    display: none;
  }

  .conteneur-burger {
    display: block;
    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 0;
    }
  }

  .burger {
    &.active {
      border-top: 1.5px solid #2B3D4B;

    }

    // global
    ul {
      list-style: none;
      padding: 0 15px;
      margin-bottom: 0;
      li {
        @include flex();
        @include font(#E9EBEC, 14px, normal, uppercase, $f:"NeuzeitGro");
        a {
          padding: 20px 0 15px 0;
          color: inherit;
        }
      }
    }


    .conteneur-menu-mobile {
      display: none;
      position: relative;
      background: #132737;
      color: #fff;
      .burger-header {
        position: relative;
        display: block;
        .burger-header-inner {
          display: flex;
          flex-direction: column;
          ul {
            @include ul-simple();
            li {
              @include flex(flex-start, flex-start, column);
              @include font(#E9EBEC, 14px, normal, uppercase, $f:"NeuzeitGro");
              a, span {
                padding: 20px 0 10px 0;
                .picto {
                  margin-right: 10px;
                }
              }
              ul {
                padding-left: 36px;
                a {
                  padding: 5px 0 5px 0;
                  color: darken(#E9EBEC, 10%);
                  font-size: 12px;
                }
              }

            }
          }
          .panier {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 23px;
            margin-bottom: 10px;
            padding: 20px 30px 15px 30px;
            font-family: "NeuzeitGro";
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            background-color: $primary;
            border-color: $primary;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
            line-height: 1.5;
            border-radius: 1.5rem;
            i {
              margin-right: 10px;
              font-size: 16px;
            }
            .number {
              position: relative;
              @include flex(center, center);
              @include circle(25px);
              background: #fff;
              @include font($primary, 14px, bold);
              margin-left: 10px;
            }
          }
          .btn {
            @include flex(center, flex-start);
            margin-top: 23px;
            margin-bottom: 10px;
            padding: 20px 30px 15px 30px;
            @include font(#fff, 14px, bold, uppercase, $f:"NeuzeitGro");
            i {
              margin-right: 10px;
              font-size: 16px;
            }
          }
        }
      }

      .menu-mobile {
        position: relative;
        z-index: 1;
        transition: all 300ms;
      }
    }
  }
}
