/*
-- README --
Pour les @font-face.
Utiliser transfonter (https://transfonter.org) pour générer les @font-face.
*/

@font-face {
  font-family: 'NeuzeitGro';
  src: url('../fonts/NeuzeitGro-Bol.eot');
  src: url('../fonts/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Bol.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Bol.woff') format('woff'),
  url('../fonts/NeuzeitGro-Bol.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeuzeitGroLig';
  src: url('../fonts/NeuzeitGro-Lig.eot');
  src: url('../fonts/NeuzeitGro-Lig.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Lig.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Lig.woff') format('woff'),
  url('../fonts/NeuzeitGro-Lig.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BW Publico Head';
  src: url('../fonts/BWPublicoHead-Bold.eot');
  src: url('../fonts/BWPublicoHead-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BWPublicoHead-Bold.woff2') format('woff2'),
  url('../fonts/BWPublicoHead-Bold.woff') format('woff'),
  url('../fonts/BWPublicoHead-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Regular.eot');
  src: url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/WorkSans-Regular.woff2') format('woff2'),
  url('../fonts/WorkSans-Regular.woff') format('woff'),
  url('../fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BW Publico Head';
  src: url('../fonts/BWPublicoHead-Roman.eot');
  src: url('../fonts/BWPublicoHead-Roman.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BWPublicoHead-Roman.woff2') format('woff2'),
  url('../fonts/BWPublicoHead-Roman.woff') format('woff'),
  url('../fonts/BWPublicoHead-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeuzeitGro';
  src: url('../fonts/NeuzeitGro-Reg.eot');
  src: url('../fonts/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Reg.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Reg.woff') format('woff'),
  url('../fonts/NeuzeitGro-Reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGro-Lig_1.eot');
  src: url('../fonts/NeuzeitGro-Lig_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Lig_1.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Lig_1.woff') format('woff'),
  url('../fonts/NeuzeitGro-Lig_1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LC';
  src: url('../fonts/GraphikLC-Light.eot');
  src: url('../fonts/GraphikLC-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GraphikLC-Light.woff2') format('woff2'),
  url('../fonts/GraphikLC-Light.woff') format('woff'),
  url('../fonts/GraphikLC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGro-Bol_1.eot');
  src: url('../fonts/NeuzeitGro-Bol_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Bol_1.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Bol_1.woff') format('woff'),
  url('../fonts/NeuzeitGro-Bol_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit Grotesk';
  src: url('../fonts/NeuzeitGro-Reg_1.eot');
  src: url('../fonts/NeuzeitGro-Reg_1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NeuzeitGro-Reg_1.woff2') format('woff2'),
  url('../fonts/NeuzeitGro-Reg_1.woff') format('woff'),
  url('../fonts/NeuzeitGro-Reg_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('//use.fontawesome.com/releases/v4.7.0/css/font-awesome-css.min.css');
@font-face {
  font-family: 'FontAwesome';
  src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot');
  src: url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
  url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
  url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
  url('//use.fontawesome.com/releases/v4.7.0/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
