footer {
  position: relative;
  @include background($primary, url('../img/footer/bg-footer.jpg'), repeat);
  padding: 45px 0 15px 0;
  .conteneur-footer {
    @include flex(center, null, column);
    .conteneur-logo {
      margin-bottom: 70px;
    }
    .conteneur-rs {
      position: relative;
      @include flex(center, center);
      margin-bottom: 60px;
      .rs {
        @include flex(center, center);
        @include font(#fff, 25px);
        margin: 0 15px;
        @include rise-children(5px);
      }
    }
    .menu-footer {
      margin-bottom: 10px;
      ul {
        @include ul-simple();
        li {
          position: relative;
          display: inline-block;
          &:last-of-type {
            &::after {
              display: none;
            }
          }
          &::after {
            content: '|';
            color: #fff;
            font-size: 12px;
          }
          a {
            position: relative;
            @include font(#fff, 12px, 300, uppercase, $f:"Neuzeit Grotesk");
            @include underline(#ffbab1);
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}