body {
  font-family: "NeuzeitGro", sans-serif;
  font-weight: 300;
  -webkit-overflow-scrolling: touch; // FIX IOS : smooth scrolling

  &.no-scroll {
    position: fixed; // FIX IOS : évite que le body défile (overflow insuffisant)
    overflow: hidden;
    width: 100%;
  }

  &.modal-open {
    header {
      padding-right: 17px;
    }
  }
}

.page-wrapper {
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

pre{
  display: table;
  width: 100%;
}

.tableau-responsive {
  overflow-x: auto;
}

.more {
  position: relative;
  @include font($primary, 15px, normal, $f: "NeuzeitGro");
  padding-right: 10px;
  padding-bottom: 2px;
  @include underline($primary);
  &::before {
    @include pseudo-element(url('../img/pictos/angle-right.png') no-repeat center center, null, 'center right', $width: 6px, $height: 10px);
  }
  &:hover {
    color: $primary;
  }
}

.rgaa-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

* {
  outline: none !important;
}