/*
-- README --
Ce fichier style le header.
2 Headers sont proposés :
- full sticky header (par défaut) : la totalité du header est sticky et reste inchangée quand on scroll
- sticky header partiel : seulement une partie du header devient sticky au scroll (en général, la partie avec le menu). Vous devrez décommentez le sticky header partiel et commentez le full sticky header pour changer de configuration. Une partie en JS sera aussi à décommenter.
Vous pouvez changer l'apparence d'un full sticky header au scroll (pour diminuer certaines parties ou changer sa couleur par exemple) en adaptant le JS d'un sticky header partiel pour ajouter une class au scroll.
NB : en responsive, il faudra sans doute adapter le header et placer certains éléments dans le menu burger (réseaux sociaux, recherche, autres liens, etc) afin de gagner de la place.
*/


header {
  position: relative;
  background: #fff;
  z-index: 10;
  @include transition(background);
  &.menu-opened {
    background: #132737;
    .conteneur-header {
      .wrapper-nav-recherche {
        .conteneur-actions {
          .navbar-icon.searchButton {
            display: none;
          }
        }
      }
    }
  }
  .conteneur-header {
    @include flex();
    position: relative;
    padding: 15px;
    .conteneur-logo {
      position: relative;
      display: inline-block;
      padding-right: 30px;
      background: #fff;
      overflow: hidden;
      flex-shrink: 0;
      .logo {
        @include transition($style: linear, $delay: 150ms);
        opacity: 1;
      }
      .texte-logo {
        position: absolute;
        top: 0;
        left: 10px;
        width: 100%;
        height: 100%;
        @include flex();
        @include font($primary, 15px, normal);
        line-height: 1;
        @include transition();
        opacity: 0;
      }
    }
    .wrapper-nav-recherche {
      position: relative;
      @include flex(center, space-between);
      flex-grow: 1;
      .conteneur-menu-rs {
        display: flex;
        align-items: center;
        height: 100%;
        flex-shrink: 0;
        margin-right: 15px;
        .accessibilite {
          cursor: pointer;
          font-family: "Rubik", sans-serif;
          font-weight: 300;
          font-size: 10px;
          margin-right: 5px;
          padding-top: 7px;
          transition: all 300ms;
          &:hover {
            @media screen and (min-width: 992px) {
              // animation
            }
          }
          strong {
            font-weight: 300;
            font-size: 14px;
          }
        }
        .rs {
          position: relative;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: $primary;
          font-size: 16px;
          margin-right: 5px;
          width: 38px;
          height: 38px;
          transition: all 300ms;
          &:hover {
            @media screen and (min-width: 992px) {
              // animation
            }
          }
          i {
            padding: 10px;
            transition: all 300ms;
          }
        }
      }
      .conteneur-actions {
        position: relative;
        @include flex(center);
        .navbar-icon {
          position: relative;
          display: block;
          cursor: pointer;
          padding: 15px 8px;
          &.searchButton {
            font-size: 10px;
            color: $dark;
            &.active {
              color: $primary;
            }
            i {
              font-size: 22px;
            }
          }
          &.compte {
            position: relative;
            &:hover {
              ul {
                display: block;
              }
            }
            ul {
              position: absolute;
              top: 100%;
              right: 0;
              left: 0;
              display: none;
              float: left;
              min-width: 160px;
              padding: 5px 0;
              margin: 2px 0 0;
              font-size: 14px;
              text-align: left;
              list-style: none;
              background-color: #fff;
              -webkit-background-clip: padding-box;
              background-clip: padding-box;
              border-radius: 4px;
              margin-left: 50%;
              transform: translateX(-50%);
              margin-top: -10px;
              border: none;
              box-shadow: 0 -5px 18px rgba(0,0,0,0.12);
              width: 260px;
              z-index: 1001;
              font-size: 14px;
              text-align: left;
              list-style: none;
              &::before {
                position: absolute;
                content: "";
                display: block;
                left: 50%;
                transform: translateX(-50%);
                margin-top: -12px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 9px 9px 9px;
                border-color: transparent transparent #ffffff transparent;
              }
              li {
                a {
                  padding: 8px 20px;
                  font-weight: normal;
                  font-size: 12px;
                  text-align: center;
                  white-space: normal;
                  display: block;
                  clear: both;
                  line-height: 1.42857143;
                  color: $dark;
                  text-transform: uppercase;
                  @include transition(color);
                  &:hover {
                    color: $primary;
                    font-weight: bold;
                  }
                }
              }
            }
          }
          &.panier {
            position: relative;
            i {
              font-size: 24px;
              color: $dark;
            }
            span {
              display: none;
            }
            .number {
              position: absolute;
              @include flex(center, center);
              bottom: 15px;
              right: 5px;
              @include circle(14px);
              background: $primary;
              @include font(#fff, 9px, bold);
            }
          }
        }
      }
    }
  }
}
.conteneur-burger {
  display: none;
}
#block-searchsolrblock {
  position: absolute;
  left: -150vw;
  top: 86px;
  color: #FFF;
  background: linear-gradient(to bottom,#0d2235 39%,#0d2235 39%,#7db9e8 100%,#5a6874 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d2235',endColorstr='#5a6874',GradientType=0);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  transition: 0.5s all;
  &.active {
    left: 0;
  }
  form.searchForm_header {
    .container {
      position: relative;
      padding-top: 20px;
    }
    input#search {
      display: block;
      height: auto;
      color: #FFF;
      background: transparent;
      width: 80%;
      border: none;
      font-size: 50px;
      line-height: 50px;
      padding: 15px 0;
      font-family: 'BW Publico Head',sans-serif !important;
    }
    span {
      display: block;
      color: #FFF;
      text-transform: initial;
      font-size: 12px;
    }
    .btn.btn-primary {
      background-color: #e7392e;
      font-family: 'NeuzeitGro', sans-serif;
      font-weight: bold;
      font-size: 13px;
      color: #FFF;
      margin: 20px 0;
      padding: 20px 80px;
      border-color: #FF3544;
      text-transform: uppercase;
      transition: transform 0.3s,color 0.3s,background-color 0.3s,border-color 0.3s;
      position: absolute;
      top: 0;
      right: 85px;
      @include border-radius(4px);
    }
    .btn-close-hub {
      margin: 20px 0;
      padding-left: 0;
      padding-right: 0;
      @include border-radius(4px);
      width: 60px;
      height: 60px;
      line-height: 38px;
      right: 15px;
      position: absolute;
      top: 0;
      text-transform: uppercase;
    }
  }

}