/*
-- README --
Ce fichier est utilisé pour le style de la home (uniquement le contenu de la balise main).
*/

.page-wrapper {
  &.home {
    section.section-carrousel {
      position: relative;
      padding-bottom: 35px;
      .conteneur-carrousel {
        .slide-carrousel {
          position: relative;
          @include flex(center, center);
          height: 393px;
          width: 100%;
          overflow: hidden;
          .visuel {
            min-width: 100%;
            min-height: 100%;
            max-width: 200%;
            max-height: 200%;
          }
          .conteneur-titres {
            position: absolute;
            @include flex(flex-start, null, column);
            left: 22px;
            bottom: 62px;
            .titre-slide {
              position: relative;
              display: inline-block;
              @include font(#fff, 30px, bold, $f: "BW Publico Head");
              background: rgba($dark, 45%);
              margin-bottom: 5px;
              padding: 0 10px;
            }
            .soustitre-slide {
              position: relative;
              display: inline-block;
              @include font(#fff, 16px, bold, uppercase, $f: "NeuzeitGro");
              background: rgba($dark, 45%);
              padding: 0 10px;
            }
          }
        }
        .slick-dots {
          li {
            width: 12px;
            height: 12px;
            margin: 0 2px;
            &.slick-active {
              button {
                &::before {
                  background: $dark;
                }
              }
            }
            button {
              width: inherit;
              height: inherit;
              &::before {
                content: '';
                @include circle(12px);
                background: #9aa3ab;
              }
            }
          }
        }
      }
    }
    section.section-contenu {
      margin-bottom: 65px;
    }
  }
}