@mixin font($c, $z: 15px, $w: null, $t: null, $s: null, $f: null, $a: null){
  font: {
    family: $f;
    size: $z;
    weight: $w;
    style: $s;
  };
  color: $c;
  text-transform: $t;
  text-align: $a;
}

// spécifique au projet
@mixin titre-h1(){
  @include font($primary, 36px, bold, $f: "BW Publico Head");
}

@mixin titre-h2(){
  @include font($dark, 30px, bold, $f: "NeuzeitGro");
  margin-bottom: 20px;
  @media screen and (max-width: 992px) {
    font-size: 26px;
  }
}

@mixin titre-h3(){
  @include font($dark, 18px, bold, $f: "BW Publico Head");
  margin-bottom: 20px;
  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
}

@mixin titre-h4(){
  @include font($dark, 18px, bold, $f: "NeuzeitGro");
  margin-bottom: 20px;
  @media screen and (max-width: 992px) {
    font-size: 16px;
  }
}

@mixin titre-h5(){

}

@mixin titre-h6(){

}

@mixin lien-wysiwyg() {
  @include font($primary, inherit, bold);
  border-bottom: 2px solid $primary;
  @include transition();
  &:hover {
    border-bottom: 1px solid transparent;
  }
}