@mixin rgaa-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

@mixin pseudo-element($background, $zindex: null, $alignement: 'top left', $t: null, $l: null, $b: null, $r: null, $width: 100%, $height: 100%, $rad: null, $transition: all, $duration: 300ms){
  content: '';
  position: absolute;
  @if $alignement == 'top left' {
    top: 0;
    left: 0;
  } @else if $alignement == 'bottom left' {
    bottom: 0;
    left: 0;
  } @else if $alignement == 'center left' {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $alignement == 'top right' {
    top: 0;
    right: 0;
  } @else if $alignement == 'bottom right' {
    bottom: 0;
    right: 0;
  } @else if $alignement == 'center right' {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  } @else if $alignement == null {
    top: $t;
    left: $l;
    bottom: $b;
    right: $r;
  }
  width: $width;
  height: $height;
  background: $background;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
  z-index: $zindex;
  -webkit-transition: $transition $duration;
  -moz-transition: $transition $duration;
  -ms-transition: $transition $duration;
  -o-transition: $transition $duration;
  transition: $transition $duration;
}

@mixin transition($transition: all, $duration: 300ms, $style: null, $delay: null){
  -webkit-transition: $transition $duration $style $delay;
  -moz-transition: $transition $duration $style $delay;
  -ms-transition: $transition $duration $style $delay;
  -o-transition: $transition $duration $style $delay;
  transition: $transition $duration $style $delay;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transform-origin($direction) {
  -webkit-transform-origin: $direction;
  -moz-transform-origin: $direction;
  -ms-transform-origin: $direction;
  -o-transform-origin: $direction;
  transform-origin: $direction;
}

@mixin flex($align: center, $justify: null, $direction: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin ul-simple($pl: 0, $mb: 0, $style: none){
  list-style: $style;
  padding-left: $pl;
  margin-bottom: $mb;
}

@mixin background($c: null, $i: null, $r: no-repeat, $p: center center, $s: null){
  background: {
    color: $c;
    image: $i;
    repeat: $r;
    position: $p;
    size: $s;
  }
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

@mixin ariane($section, $color: null) {
  position: relative;
  background: {
    color: $color;
    image: url('../img/home/ariane/#{$section}-suite.jpg');
    repeat: repeat-y;
    size: initial;
    position: top right;
  };
  z-index: 0;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: {
      image: url('../img/home/ariane/#{$section}.jpg');
      repeat: no-repeat;
      size: initial;
      position: top right;
    };
  }
}

@mixin trait-psycom($color: $warning, $pos: top, $pseudo:before) {
   @if $pos == top {
      &::#{$pseudo} {
        @include pseudo-element($color, 1, null, $t: -2px, $l: 0, $width: 160px, $height: 4px);
      }
   } @else if $pos == bottom {
      padding-bottom: 55px;
      &::#{$pseudo} {
        @include pseudo-element($color, 1, null, $b: -2px, $l: 0, $width: 160px, $height: 4px);
      }
    }

}

@mixin destroy-trait-psycom($pseudo:before) {
  &::#{$pseudo} {
    display: none;
  }
}
