.wysiwyg {
  @include font($dark, 18px, 300, $f: "Neuzeit Grotesk");

  strong, b {
    font-weight: bold;
  }

  p {
    a {
      @include lien-wysiwyg();
    }

  }

  // listes
  ul {
    list-style: none;

    li { // tous les li
      position: relative;
      padding-left: 10px;
      padding-bottom: 10px;

      &::before {
        // pour remplacer le list-style
        @include pseudo-element($dark, null, null, $t: 11px, $l: 0, $width: 5px, $height: 5px);
        @include border-radius(50%);
      }
      // Liens dans la liste
      a {

        &:hover {
          @media screen and (min-width: 992px) {

          }
        }
      }

    }

    ul { // 2e niveau de liste
      margin-top: 10px;
      margin-bottom: 20px;
      li {
        &::before {
          @include pseudo-element($primary, null, null, $t: 13px, $l: -3px, $width: 5px, $height: 2px);
          @include border-radius(0);
        }
      }

      ul { // 3e niveau de liste
        li {
          &::before {

          }
        }
      }
    }
  }

  h2 {
    @include titre-h2();
  }
  h3 {
    @include titre-h3();
  }
  h4 {
    @include titre-h4();
  }

  table {
    margin: 15px -13px;
    thead {
      tr {
        td, th {
          background: $primary;
          @include font(#fff, 18px, bold, $f: "NeuzeitGro");
          border-right: 2px solid #fff;
          &:first-of-type {
            border-top-left-radius: 4px;
          }
          &:last-of-type {
            border-top-right-radius: 4px;
            border-right: none;
          }
        }
      }
    }
    tbody {
      tr {
        &:last-of-type {
          td {
            &:first-of-type {
              border-bottom-left-radius: 4px;
            }
            &:last-of-type {
              border-bottom-right-radius: 4px;
            }
          }
        }
        td {
          border-bottom: 1px solid $primary;
          &:first-of-type {
            border-left: 1px solid $primary;
          }
          &:last-of-type {
            border-right: 1px solid $primary;
          }
        }
      }
    }
    tr {
      td, th {
        @include font($dark, 18px, normal, $f: "NeuzeitGro");
        padding: 15px 20px;
        vertical-align: top;
        background: #fff;
        a {
          @include lien-wysiwyg();
        }

      }
    }
  }

  img {
    &.align-center {
      margin: auto;
    }
  }

  .btn {
    margin-bottom: 20px;
  }

  // accordéon
  .accordeon {
    margin: 30px 0;
    .element-accordeon {
      background: #fff;
      border: 1px solid $primary;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin-bottom: 20px;

      .accordeon-header {
        position: relative;
        font-weight: bold;
        padding: 10px 20px;
        cursor: pointer;
        color: $dark;
        @include transition(color);

        &:hover {
          @media screen and (min-width: 992px) {
            color: $primary;
          }
        }

        &::after { // pour la flèche de l'accordéon
          content: '';
          position: absolute;
          height: 100%;
          width: 25px;
          right: 15px;
          top: 0;
          background: url('../img/pictos/angle-bottom.png') no-repeat center center;
          transform: rotate(0deg);
          transition: transform 300ms;
        }

        &[aria-expanded='true'] { // quand l'accordéon est ouvert
          &::after {
            transform: rotate(180deg); // retourne la flèche

          }
        }
      }

      .accordeon-body {
        font-weight: normal;
        padding: 0 20px 20px 50px;
      }
    }
  }

  .bloc-couleur {
    padding: 35px 80px;
    margin: 30px 0;
    &.bloc-couleur-primary {
      background: $primary;
      color: #fff;
    }
    .titre-bloc {
      @include font(#fff, 30px, bold, $f: "BW Publico Head", $a: center);
      margin-bottom: 25px;
    }
    .texte-bloc {
      @include font(#fff, 18px, 300, $f: "Neuzeit Grotesk", $a: center);
      margin-bottom: 30px;
    }
    .boutons-bloc {
      @include flex(center, space-around);
      .btn {
        background: #fff;
        color: $primary;
        margin-bottom: 0;
      }
    }
  }

  .bloc-mise-avant, .bloc-contact {
    @include flex(center, null, column);
    background: #fff;
    padding: {
      top: 40px;
      bottom: 45px;
      left: 40px;
      right: 40px;
    };
    box-shadow: 0 0 15px rgba(#000, 35%);
    margin: 30px 0;
    &.text-left {
      .conteneur-visuel {
        @include flex(center, flex-start);
      }
      .conteneur-detail {
        text-align: left;
      }
    }
    &.text-center {
      .conteneur-visuel {
        @include flex(center, center);
      }
      .conteneur-detail {
        text-align: center;
      }
    }
    &.text-right {
      .conteneur-visuel {
        @include flex(center, flex-end);
      }
      .conteneur-detail {
        text-align: right;
      }
    }

    .conteneur-visuel {
      display: block;
      margin-bottom: 20px;
    }

    .conteneur-detail {
      text-align: center;

      .titre-detail {
        @include titre-h3();
        margin-bottom: 30px;

        a {
          display: block;
          color: inherit;
          @include transition(color);

          &:hover {
            @media screen and (min-width: 992px) {
              color: $primary;
            }
          }
        }
      }

      .texte {
        margin-bottom: 30px;
        a {
          @include lien-wysiwyg();
        }
      }
    }
  }

  .bloc-contact {
    .conteneur-visuel {
      @include flex(center, center);
      @include circle(85px);
      border: 3px solid $primary;
      i {
        font-size: 45px;
        color: $primary;
      }
    }
    .conteneur-detail {
      .titre-detail {
        margin-bottom: 5px !important;
      }
      .texte {
        margin-bottom: 0 !important;
      }
    }
  }

  .bloc-image {
    padding: 30px 0;
    .image {
      margin-bottom: 15px;
    }
    .texte {
      text-align: center;
    }
  }
}

.page-wrapper {
  .conteneur-ariane {
    background: $light;
    padding: 20px 0;
    margin-bottom: 30px;
    .ariane {
      .breadcrumb {
        padding: 0;
        margin: 10px 0;
        background: none; // surcharge bootstrap

        li {
          position: relative;
          display: inline-block;
          @include font($dark, 13px, normal, uppercase, $f: "NeuzeitGro");
          &:first-of-type { // accueil
            a {
              padding-left: 25px;
              &::before {
                @include pseudo-element(url('../img/pictos/fleche-ariane.png') no-repeat left center, $width: 25px);
              }
            }
          }

          &::after { // les separateurs
            content: '/';
            margin: 0 15px;
            @include font($primary, 12px, normal, uppercase, $f: "NeuzeitGro");
          }

          &:last-of-type {
            @include font($dark, 13px, bold, none, $f: "NeuzeitGro");
            &::after {
              display: none;
            }
          }

          a {
            position: relative;
            display: inline-block;
            color: inherit;

            &:hover {
              @media screen and (min-width: 992px) {

              }
            }
          }
        }
      }

    }
  }
  .conteneur-titre {
    margin-bottom: 20px;
    h1.titre-page {
      @include titre-h1();
    }
  }
  .conteneur-page {
    background: $light;
    color: $dark;
    padding: 25px 45px;
    margin-bottom: 20px;
    .chapo {
      @include font($dark, 18px, $f: "Neuzeit Grotesk");
      margin-bottom: 30px;
    }
    .wysiwyg {
      .bloc-couleur {
        margin: 30px -45px;
      }
    }
  }
}