.page-wrapper {
  &.liste {
    .conteneur-page {
      .conteneur-liste-filtres {
        @include make-row();
        .conteneur-filtres {
          @include make-col-ready();
          @include make-col(3);
          .conteneur-filtres-recherche {
            .reinit {
              @include font($dark, 12px, bold, uppercase, $f:"NeuzeitGro");
              border: 1px solid #c0bebe;
              @include border-radius(5px);
              padding-left: 0;
              padding-right: 0;
              width: 100%;
              text-align: center;
              background: #fff;
              margin-bottom: 30px;
            }
            form {
              padding-bottom: 30px;
              margin-bottom: 30px;
              border-bottom: 1px solid #c0bebe;
              label {
                @include font($dark, 18px, bold, $f:"NeuzeitGro");
              }
              input[type="text"] {
                border: 1px solid #c0bebe;
                @include border-radius(5px);
                padding-left: 10px;
                width: 100%;
                height: 30px;
                background: #fff;
                margin-bottom: 10px;
                font-size: 14px;
              }
              input[type="submit"] {
                @include border-radius(5px);
                width: 100%;
                text-align: center;
              }
            }
          }
          .conteneur-facettes {
            .form-bloc {
              position: relative;
              margin-bottom: 30px;
              h2 {
                @include font($dark, 18px, bold, $f:"NeuzeitGro");
                margin-bottom: 10px;
              }
              .js-facets-widget {
                @include ul-simple();
                .facet-item {
                  @include font(#6f7b85, 13px,  bold, $f:"NeuzeitGro");
                  input[type="checkbox"] {
                    display: none;
                    &:checked + label {
                      &::before {
                        border-color: #6f7b85;
                        @include background(#6f7b85, url('../img/pictos/check.png'));
                      }
                    }
                  }
                  label {
                    position: relative;
                    padding-left: 20px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    &::before {
                      @include pseudo-element(#fff, null, null, $t: 3px, $l: 0, $width: 12px, $height: 12px);
                      border: 1px solid #c0bebe;
                      @include border-radius(2px);
                    }
                  }
                  a {
                    color: inherit;
                  }
                  .facet-item__count {
                    color: $primary;
                  }
                }
              }
            }
          }
        }
        .conteneur-liste {
          @include make-col-ready();
          @include make-col(9);
          .row-liste {
            @include make-row();
            .conteneur-element {
              @include make-col-ready();
              @include make-col(4);
              margin-bottom: 20px;
              .element {
                position: relative;
                @include flex(center, center, column);
                background: #fff;
                padding: 30px 15px;

                .conteneur-visuel {
                  display: block;
                  margin-bottom: 10px;
                }
                .conteneur-detail {
                  @include flex(center, center, column);
                  .titre {
                    text-align: center;
                    @include titre-h3();
                    margin-bottom: 5px;
                    a {
                      color: inherit;
                      @include transition(color);
                      &:hover {
                        @media screen and (min-width:992px) {
                          color: $primary;
                        }
                      }
                    }
                  }
                  .categorie {
                    display: block;
                    @include font(#989fa5, 15px, normal, uppercase, $f:"NeuzeitGro");
                    margin-bottom: 20px;
                  }
                  .prix {
                    display: block;
                    @include font($dark, 15px, light, $f:"Neuzeit Grotesk");
                    margin-bottom: 25px;
                  }
                }
              }
            }
          }

          .conteneur-pagination {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 40px;

            .pagination {
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 0;

              li {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                padding: 5px 15px;
                @include border-radius(45%);
                @include font($dark, 16px, $f:"NeuzeitGro");
                cursor: pointer;
                &.numero {

                  &:hover {
                    @media screen and (min-width: 992px){
                      a {
                        color: $primary;
                      }
                    }
                  }
                  a {
                    display: block;
                    color: inherit;
                    width: 100%;
                    height: 100%;
                    @include transition(color);
                  }

                  &.last {

                  }

                  &.active {
                    position: relative;
                    background: $primary;
                    color: #fff;
                    span {

                    }
                  }
                }
                &.arrow {
                  font-size: 30px;
                  line-height: 1;
                  color: $primary;
                  a {
                    margin-top: -5px;
                  }
                }
              }
            }
          }

        }
      }
    }
  }

  &.resultats-recherche {
    .nombre-resultats {
      @include titre-h2();
    }
    .conteneur-liste {
      .element-resultat {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid $dark;
        .titre-resultat {
          @include titre-h3();
          a {
            color: inherit;
            @include transition(color);
            &:hover {
              color: $primary;
            }
          }
        }
        .chapo {
          margin-bottom: 10px;
        }
      }
      .conteneur-pagination {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

        .pagination {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 0;

          li {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            padding: 5px 15px;
            @include border-radius(45%);
            @include font($dark, 16px, $f:"NeuzeitGro");
            cursor: pointer;
            &.numero {

              &:hover {
                @media screen and (min-width: 992px){
                  a {
                    color: $primary;
                  }
                }
              }
              a {
                display: block;
                color: inherit;
                width: 100%;
                height: 100%;
                @include transition(color);
              }

              &.last {

              }

              &.active {
                position: relative;
                background: $primary;
                color: #fff;
                span {

                }
              }
            }
            &.arrow {
              font-size: 30px;
              line-height: 1;
              color: $primary;
              a {
                margin-top: -5px;
              }
            }
          }
        }
      }
    }
  }
}