.page-wrapper {
  &.panier {
    .panier-desktop {
      width: 100%;

      thead {
        tr {
          td, th {
            background: $primary;
            @include font(#fff, 18px, bold, $f: "NeuzeitGro");
            border-right: 2px solid #fff;

            &:first-of-type {
              border-top-left-radius: 4px;
            }

            &:last-of-type {
              border-top-right-radius: 4px;
              border-right: none;
            }
          }
        }
      }

      tbody {
        tr {
          &:last-of-type {
            td {
              &:first-of-type {
                border-bottom-left-radius: 4px;
              }

              &:last-of-type {
                border-bottom-right-radius: 4px;
              }
            }
          }

          td {
            border-bottom: 1px solid $primary;

            &:first-of-type {
              border-left: 1px solid $primary;
            }

            &:last-of-type {
              border-right: 1px solid $primary;
            }
          }
        }
      }

      tr {
        td, th {
          @include font($dark, 18px, normal, $f: "NeuzeitGro");
          padding: 15px 20px;
          vertical-align: top;
          background: #fff;
          text-align: center;

          &:first-of-type {
            text-align: left;
          }

          a {
            @include lien-wysiwyg();
          }

          .delete {
            cursor: pointer;
          }

        }
      }
    }

    .panier-mobile {
      display: none;
      width: 100%;

      .element-panier {
        position: relative;
        @include flex(flex-start, center, column);
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid $primary;
        width: 100%;

        .titre-element {
          @include titre-h3();
          margin-bottom: 5px;
        }

        .prix {
          display: block;
          font-weight: bold;
          color: $primary;
        }

        .prix-total {
          display: block;

          strong {
            font-weight: bold;
          }
        }

        .quantite {
          @include flex(flex-start);
          margin-top: 15px;

          .btn-quantity {
            @include flex(center, center);
            flex-wrap: wrap;
            border: 1px solid #c0bebe;
            width: 30px;
            height: 30px;
            background: $primary;
            color: #fff;
            margin-bottom: 10px;
            font-size: 14px;
            @include border-radius(0);
            padding: 0;

            &.btn-minus {
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }

            &.btn-add {
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              margin-right: 15px;
            }
          }

          .delete {
            height: 30px;
            font-size: 14px;
            @include flex(center, center);
            padding-top: 0;
            padding-bottom: 0;
          }

          input {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 1px solid #c0bebe;
            border-left: none;
            border-right: none;
            padding-left: 10px;
            width: 100px;
            height: 30px;
            background: #fff;
            margin-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }

    .bloc-total {
      @include flex(flex-end, center, column);
      margin-right: 40px;
      margin-top: 30px;

      .ligne-total {
        position: relative;
        width: 235px;
        @include flex(center, center);
        margin: 10px 0;

        .libelle, .montant {
          width: 50%;
          flex-shrink: 0;
          font-size: 18px;
        }

        .montant {
          text-align: right;
        }

        strong {
          font-weight: bold;
        }
      }
    }

    .cta-panier {
      position: relative;
      @include flex(center);
      flex-wrap: wrap;

      .btn {
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
      }
    }
  }

  &.actualites-habitat {
    .dernier-numero {
      width: 800px;
      margin: 30px auto;
      background: #fff;
      padding: 15px;
      @include flex(center, flex-start);
      border: 1px solid $dark;

      .conteneur-visuel {
        width: 300px;
        @include flex(center, center);
      }

      .conteneur-detail {
        @include flex(center, center, column);

        .numero {
          @include titre-h3();
          color: $primary;
          font-size: 30px;
          margin-bottom: 10px;
        }

        .date {
          font-size: 16px;
          color: $dark;
          margin-bottom: 20px;
        }

        .btn {
          padding-left: 20px;
          padding-right: 30px;

          i {
            margin-left: 15px;
          }
        }
      }
    }
  }

  &.single-publication {
    .detail-publication {
      .conteneur-image-description {
        .conteneur-visuel-texte {
          @include flex(flex-start);
          margin-bottom: 50px;
          .conteneur-visuel {
            width: 300px;
            flex-shrink: 0;
          }
        }
        .liste-publications {
          .titre-liste {
            @include font($dark, 24px, bold, $f:"NeuzeitGro");
            margin-bottom: 15px;
          }
          .row-liste {
            @include make-row();

            .conteneur-element {
              @include make-col-ready();
              @include make-col(4);
              margin-bottom: 20px;

              .element {
                position: relative;
                @include flex(center, center, column);
                background: #fff;
                padding: 30px 15px;

                .conteneur-visuel {
                  display: block;
                  margin-bottom: 10px;
                }

                .conteneur-detail {
                  @include flex(center, center, column);

                  .titre {
                    text-align: center;
                    @include titre-h3();
                    margin-bottom: 5px;

                    a {
                      color: inherit;
                      @include transition(color);

                      &:hover {
                        @media screen and (min-width: 992px) {
                          color: $primary;
                        }
                      }
                    }
                  }

                  .categorie {
                    display: block;
                    @include font(#989fa5, 15px, normal, uppercase, $f: "NeuzeitGro");
                    margin-bottom: 20px;
                  }

                  .prix {
                    display: block;
                    @include font($dark, 15px, light, $f: "Neuzeit Grotesk");
                    margin-bottom: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .infos-publication {
      padding-right: 0;
      .conteneur-infos {
        background: #fff;
        padding: 15px 25px;
        .bloc-infos {
          margin-bottom: 25px;
          .titre-info {
            @include font($dark, 18px, bold, $f:"NeuzeitGro");
            margin-bottom: 10px;
          }
          .infos {
            @include ul-simple();
            padding-left: 10px;
            li {
              @include font(#6f7b85, 13px, normal, $f:"NeuzeitGro");
              margin-bottom: 5px;
            }
          }
        }
        .ajout-panier {
          @include flex(center, center);
          font-size: 15px;
          padding-left: 0;
          padding-right: 0;
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }
}