.animg-gristxt {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &.anim-IE{
    .overlay-text{
      background: rgba(0,0,0,0.5);
      box-shadow: 0 0 50px rgba(0,0,0,1);
    }
  }
  &:hover {
    @media screen and (min-width: 992px) {
      img {
        filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
      .overlay-text {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  img {
    width: inherit;
    transition: all 300ms;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-shadow: 5px 5px 15px $gray-700;
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    transition: all 300ms;
  }
}

.animg-shine {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  .flare {
    position: relative;
    overflow: hidden;
    width: 100%;

    &:before {
      position: absolute;
      top: 0;
      left: -75%;
      content: "";
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
      pointer-events: none;
    }

    @media (min-width: 992px) {
      &:hover {
        &:before {
          -webkit-animation: shine 1s;
          animation: shine 1s;
        }
      }
    }
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.animg-zoomtxt {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:hover {
    @media screen and (min-width: 992px) {
      img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
      .overlay-text {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }

  img {
    width: inherit;
    transition: all 300ms;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-shadow: 5px 5px 15px $gray-700;
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    transition: all 300ms;
  }
}

.animg-zoomrotatetxt {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:hover {
    @media screen and (min-width: 992px) {
      img {
        -webkit-transform: scale(1.1) rotate(4deg);
        -moz-transform: scale(1.1) rotate(4deg);
        -ms-transform: scale(1.1) rotate(4deg);
        -o-transform: scale(1.1) rotate(4deg);
        transform: scale(1.1) rotate(4deg);
        filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
      .overlay-text {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }

  img {
    width: inherit;
    transition: all 300ms;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-shadow: 5px 5px 15px $gray-700;
    opacity: 0;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    transition: all 300ms;
  }
}

.animg-fulloverlay {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:hover {
    @media screen and (min-width: 992px) {
      .overlay-text {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  img {
    width: inherit;
    transition: all 300ms;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: $info;
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 300ms;
  }
}

.animg-fulloverlaypartiel {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:hover {
    @media screen and (min-width: 992px) {
      img {
        filter: grayscale(1);
        -ms-filter: grayscale(1);
        -webkit-filter: grayscale(1);
      }
      .overlay-text {
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        box-shadow: -3px -3px 10px $gray-900;
      }
    }
  }

  img {
    width: inherit;
    transition: all 300ms;
  }

  .overlay-text {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: $info;
    opacity: 1;

    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 300ms;
  }
}

.animg-txtpush {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &:hover {
    @media screen and (min-width: 992px) {
      img {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
      }
      .overlay-text {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }

  img {
    width: inherit;
    transition: all 300ms;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background: $info;
    opacity: 1;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 300ms;
  }
}

