$dir-letter : (l,r,t,b);

@media (min-width: 992px) {

  .load-fade{
    opacity: 1;

    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    &.-init{
      opacity: 0;
    }
  }

  .load-zoom{
    transform: scale(1);

    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    &.-init{
      transform: scale(0);
    }
  }

  .load-zoom{
    transform: scale(1);

    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    &.-init{
      transform: scale(0);
    }
  }

  .load-flip{
    transform: rotateX(0);
    opacity: 1;

    transition-property: transform, opacity;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-in-out;
    &.-init{
      transform: rotateX(90deg);
      opacity: 0;
    }
  }

  @each $direction-letter, $direction in $dir-letter{
    .load-swipe-#{$direction-letter}{
      transform: translate3d(0,0,0);
      opacity: 1;

      transition-property: opacity, transform;
      transition-duration: 500ms, 500ms;
      transition-timing-function: ease-in-out;
      &.-init{
        @if ($direction-letter == 'l'){
          transform: translate3d(-500px,0,0);
        }
        @if ($direction-letter == 'r'){
          transform: translate3d(500px,0,0);
        }
        @if ($direction-letter == 't'){
          transform: translate3d(0,-500px,0);
        }
        @if ($direction-letter == 'b'){
          transform: translate3d(0,500px,0);
        }
        opacity: 0;
      }
    }
  }


}